@import "vue-select/dist/vue-select.css";

.main {
    margin-top: 3.5rem;
}

.main .container {
    margin: 1.5rem 1.5rem 1.5rem calc(210px + 1.5rem);
}

.bg-gray,
.bg-gray .list-group-item {
    background-color: #f4f4f4 !important;
}

.btn {
    border: 0;
    box-shadow: none !important;
}

.btn-primary {
    background-color: #578EBE;
}

.btn-login {
    border: 1px solid white;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    background-color: #42688A;
}

.material-symbols-rounded {
    font-size: 20px;
}

td {
    vertical-align: middle !important;
}

.btn-icon {
    line-height: 100%;
}

.custom-card-bg{
    background-color: #578EBE;
}

.custom-bg {
    background-color: #DFDFDF;
}